@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p><b>Always lend as many hands as you can to those who are in need.</b></p>
</div>
<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
    <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="images/bb1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Carpenter</h5>
                            <p class="card-text"> A worker who builds or repairs wooden structures or their structural parts to follow the trade of a carpenter</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="images/bb2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plumber</h5>
                            <p class="card-text">A person who fits and repairs the pipes, fittings, and other apparatus of water supply, sanitation, or heating systems.</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban1">
                    <div class="card">
                        <img class="card-img-top" src="images/bb3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Electrician</h5>
                            <p class="card-text">Electrician definition, a person who installs, operates, maintains, or repairs electric devices or electrical wiring.</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="images/bb4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mechanic</h5>
                            <p class="card-text">A person who repairs and maintains machinery, motors, a worker who is skilled in the use of tools, machines, equipment.</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="images/bb5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Painter</h5>
                            <p class="card-text">A painter is an artist who paints pictures countable noun and painter is someone who paints walls, doors.</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 w3_ban">
                    <div class="card">
                        <img class="card-img-top" src="images/bb9.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gardener</h5>
                            <p class="card-text">Gardener responsibilities like greenscapes, watering and feeding plants, trimming trees and shrubs, fertilizing,weeding gardens.</p>
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>